<section class="content home">

  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-lg-3 col-lg-offset-9 col-md-offset-6 col-md-6 col-sm-12">
        <button class="btn l-cyan btn-round btn-lg btn-block waves-effect waves-light" (click)="GetAllSuggesstion()" data-toggle="modal" data-target="#AddsalesEnq" type="button">
          <i class="zmdi zmdi-plus"></i> Add Sales Enquire
        </button>

      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12">
        <div class="card weather2">
          <table class="table table-striped  m-b-0">
            <thead>
              <tr>
                <th hidden>ID</th>
                <th>SALESENQUIRENO</th>
                <th>Customer Name</th>
                <th>Date</th>
                <th>Project</th>
                <th>Plot No.</th>
                <th>Associate Name</th>
                <th>Amount</th>
                <th>Remark</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of getSalesEnquirelistItems()">
                <td hidden>{{item.id}}</td>
                <td>{{item.salesenquireno}}</td>
                <td>{{item.customername}}</td>
                <td>{{item.createdon.split('T')[0]}}</td>
                <td>{{item.projectname}}</td>
                <td>{{item.plotno}}</td>
                <td>{{item.consultantname}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.remark}}</td>
                <td>{{item.status}}</td>
                <td>
                  <button class="btn btn-primary btn-icon btn-round" (click)="EditCustomer(item.id)" data-toggle="modal" data-target="#AddCustomers" type="button">
                    <i class="zmdi zmdi-edit"></i>
                  </button>
                  <button class="btn btn-primary btn-icon btn-round " (click)="DeleteCustomer(item.id)" type="button">
                    <i class="zmdi zmdi-delete"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="AddsalesEnq" class="modal fade">
  <div class="modal-dialog modal-login">
    <div class="modal-content">
      <div class="modal-header text-center l-cyan" style="display: block !important;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-center">{{ActionType}}</h4>
      </div>
      <div class="modal-body">
        <div class="row  clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12" *ngIF="ActionType!='Add Sales Enquire'">
            <label>Enquire No :{{salesenquire.enquireno}}</label>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
              <input type="hidden" [(ngModel)]="salesenquire.id" name="ID" #ID="ngModel" />
              <label>Project</label>
              <input type="text" class="form-control" list="projectlist" id="Projectid" placeholder="Project" required="required">
              <datalist id="projectlist">
                <option *ngFor="let item of projectsListItems" [data-projectid]="item.projectid">{{item.projectname}}</option>
              </datalist>
            </div>
            <div class="form-group">
              <label>Customer Name</label>
              <input type="text" class="form-control" list="customerlist" id="Customerid" placeholder="Customer Name" required="required">
              <datalist id="customerlist">
                <option *ngFor="let item of customerslist" [data-id]="item.id">{{item.name}}</option>
              </datalist>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
              <label>Unit</label>
              <input type="text" class="form-control" list="Propertylist" id="Propertyid" placeholder="Unit" required="required">
              <datalist id="Propertylist">
                <option *ngFor="let item of propertyListItems" [data-property]="item.id">{{item.plotno}}</option>
              </datalist>
            </div>
            <!--<div class="form-group">
              <label>Enquire No</label>
              <input type="text" class="form-control" placeholder="Enquire No" required="required">
            </div>-->

            <div class="form-group">
              <label>Date</label>
              <input type="email" class="form-control" placeholder="Invoice Date" [(ngModel)]="salesenquire.createdon" name="CREATEDON" #CREATEDON="ngModel" required="required">
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12">

            <div class="form-group">
              <label>Amount</label>
              <input type="text" class="form-control" placeholder="Amount" [(ngModel)]="salesenquire.amount" name="AMOUNT" #AMOUNT="ngModel" required="required">
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
              <label>Associate Name</label>
              <input type="text" class="form-control" list="Associatelist" id="Associateid" placeholder="Associate Name" required="required">
            </div>
            <datalist id="Associatelist">
              <option *ngFor="let item of AssociateList" [data-associate]="item.id">{{item.name}}</option>
            </datalist>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
              <label>Remark</label>
              <input type="text" class="form-control" [(ngModel)]="salesenquire.remark" name="REMARK" #REMARK="ngModel" placeholder="Remark" required="required">
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <button type="button" class="btn btn-primary btn-round" (click)="SaveEnquire()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div id="EditsalesEnq" class="modal fade">
  <div class="modal-dialog modal-login">
    <div class="modal-content">
      <div class="modal-header text-center l-cyan" style="display: block !important;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-center">Edit Sales Enquire </h4>
      </div>
      <div class="modal-body">
        <div class="row  clearfix">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
              <label>Enquire No</label>
              <input type="text" class="form-control" placeholder="Enquire No" required="required">
            </div>
            <div class="form-group">
              <label>Customer Name</label>
              <input type="text" class="form-control" placeholder="Customer Name" required="required">
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
              <label>Project</label>
              <input type="email" class="form-control" placeholder="Project" required="required">
            </div>
            <div class="form-group">
              <label>Unit</label>
              <input type="text" class="form-control" placeholder="Unit" required="required">
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
              <label>Date</label>
              <input type="email" class="form-control" placeholder="Invoice Date" required="required">
            </div>
            <div class="form-group">
              <label>Amount</label>
              <input type="text" class="form-control" placeholder="Amount" required="required">
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
              <label>Associate Id</label>
              <input type="email" class="form-control" placeholder="Associate Id" required="required">
            </div>
            <div class="form-group">
              <label>Associate Name</label>
              <input type="text" class="form-control" placeholder="Associate Name" required="required">
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
              <label>Remark</label>
              <input type="text" class="form-control" placeholder="Remark" required="required">
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <button type="button" class="btn btn-primary btn-round">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
