<section class="content home">

    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-3 col-lg-offset-9 col-md-offset-6 col-md-6 col-sm-12">                
                <button class="btn l-cyan btn-round btn-lg btn-block waves-effect waves-light"  data-toggle="modal" data-target="#AddbookingTrans" type="button">
                    <i class="zmdi zmdi-plus"></i> Add Booking Transfer
                </button>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12">
                <div class="card weather2">
                    <table class="table table-striped  m-b-0">
                        <thead>
                            <tr>
                                <td>Booking Transf No</td>
                                <td class="font-medium">Project</td>
                                <td>Old-Unit</td>
                                <td>Old-Selling Price</td>
                                <td>New-Unit</td>
                                <td>New-Customer</td>
                                <!--<td>From-Customer</td>-->
                                <td>New-Selling Price</td>
                                <td>View</td>
                            </tr>
                        </thead>
                        <tbody>
                           
                        <tr>
                            <td></td>
                            <td class="font-medium"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <!--<td>
                                <button class="btn btn-primary btn-icon btn-round " type="button" data-toggle="modal" data-target="#EditbookingTrans">
                                    <i class="zmdi zmdi-edit" ></i>
                                </button>
                                <button class="btn btn-primary btn-icon btn-round " type="button" data-toggle="modal" data-target="#PreviewProject">
                                    <i class="zmdi zmdi-delete" ></i>
                                </button>
                            </td-->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="AddbookingTrans" class="modal fade">
	<div class="modal-dialog modal-login">
		<div class="modal-content">
				<div class="modal-header text-center l-cyan" style="display: block !important;">				
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title text-center">{{ActionType}}</h4>
				</div>
				<div class="modal-body">
                    <div class="row  clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-12" *ngIf="ActionType!='Add Booking Transfer'">
                            <label>Booking Transfer No :{{bookingtransfer.bookingtransfno}}</label>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <input type="hidden" [(ngModel)]="bookingtransfer.bookingtransfid" name="ID" #ID="ngModel" />
                                <label>Booking No.</label>
                                <input type="text" class="form-control" list="bookingList" id="bookingno" value="{{bookingno}}" (keyup)="getbookingdetails($event)" placeholder="Booking No" required="required">
                                <datalist id="bookingList">
                                  <option *ngFor="let item of bookingList">{{item.bookingno}}</option>
                                </datalist>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Property</label>
                                <input type="text" class="form-control" id="Propertyid" placeholder="Unit" value="{{unit}}" required="required" disabled>
                            </div>
                            <div class="form-group">
                                <label>Customer Name</label>
                                <input type="text" class="form-control" id="Customerid" placeholder="Customer Name" value="{{customername}}" required="required" disabled>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Project</label>
                                <input type="text" class="form-control" id="Projectid" placeholder="Project" value="{{projectname}}" required="required" disabled>
                            </div>
                            <div class="form-group">
                                <label>Transfer Date</label>
                                <input type="text" class="form-control" placeholder="Cancellation Date" [(ngModel)]="bookingtransfer.transferdate" name="TRANSFERDATE" #TRANSFERDATE="ngModel" required="required">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Property</label>
                                <input type="text" class="form-control" list="Propertylist" id="NewPropertyid" placeholder="Property" required="required">
                                <datalist id="Propertylist">
                                  <option *ngFor="let item of propertyListItems" [data-property]="item.id">{{item.plotno}}</option>
                                </datalist>
                            </div>
                            <div class="form-group">
                                <label>Customer Name</label>
                                <input type="text" class="form-control" list="customerlist" id="NewCustomerid" placeholder="Customer Name" required="required">
                                <datalist id="customerlist">
                                  <option *ngFor="let item of customerslist" [data-id]="item.id">{{item.name}}</option>
                                </datalist>
                              </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <!--<div class="form-group">
                                <label>From-Customer</label>
                                <input type="email" class="form-control" placeholder="Old-Unit" required="required">
                            </div>-->
                            <div class="form-group">
                                <label>New-Selling Price</label>
                                <input type="text" class="form-control" placeholder="Project" [(ngModel)]="bookingtransfer.newsellingprice" name="NEWSELLINGPRICE" #NEWSELLINGPRICE="ngModel" required="required">
                            </div>
                        </div>
                    </div>					
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <button type="button" class="btn btn-primary btn-round" (click)="SaveBookingTransf()">Save</button>
                        </div>
                    </div>
                </div>
		</div>
	</div>
</div>    