<section class="content home">

    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-3 col-lg-offset-9 col-md-offset-6 col-md-6 col-sm-12">                
                <button class="btn l-cyan btn-round btn-lg btn-block waves-effect waves-light"  data-toggle="modal" data-target="#AddContract" type="button">
                    <i class="zmdi zmdi-plus"></i> Add Contract
                </button>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12">
                <div class="card weather2">
                    <table class="table table-striped  m-b-0">
                        <tbody>
                            <tr>
                            <td hidden>Contract Id</td>
                            <td>Contract Code</td>
                            <td>Name</td>
                            <td>Start Date</td>
                            <td>End Date</td>
                            <td>Contract Date</td>
                            <td>Owner</td>
                            <td>Unit</td>
                            <td>No of installments</td>
                            <td>view</td>
                        </tr>
                        <tr  *ngFor="let item of getContractlistItems()">
                            <td hidden>{{item.contractid}}</td>
                            <td>{{item.contractcode}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.startdate.split("T")[0]}}</td>
                            <td>{{item.enddate.split("T")[0]}}</td>
                            <td>{{item.contractdate.split("T")[0]}}</td>
                            <td>{{item.ownername}}</td>
                            <td>{{item.plotno}}</td>
                            <td>{{item.noofinstallments}}</td>
                            <!--<td>{{(item.status==1) ? 'Active' : (item.status==0) ? 'InActive' : ''}}</td>-->
                            <td>
                                <button class="btn btn-primary btn-icon btn-round " type="button" (click)="EditContract(item.contractid)" data-toggle="modal" data-target="#AddContract">
                                    <i class="zmdi zmdi-edit" ></i>
                                </button>
                                <button class="btn btn-primary btn-icon btn-round " (click)="EditContract(item.contractid)" type="button">
                                    <i class="zmdi zmdi-delete" ></i>
                                </button>
                                <!-- <button class="btn btn-primary btn-icon btn-round " type="button">
                                    <i class="zmdi zmdi-eye" ></i>
                                </button> -->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Add Booking Transfer Modal Start-->
<div id="AddContract" class="modal fade">
	<div class="modal-dialog modal-login">
		<div class="modal-content">
				<div class="modal-header text-center l-cyan" style="display: block !important;">				
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title text-center">{{ActionType}}</h4>
				</div>
				<div class="modal-body">
                    <div class="row  clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12" *ngIf="ActionType!='Add Contract'">
                            <label>Contract Code :{{Contract.contractcode}}</label>
                        </div>
                          <input type="hidden" [(ngModel)]="Contract.contractid" name="ID" #ID="ngModel" />
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" [(ngModel)]="Contract.name" placeholder="Name" required="required">
                            </div>                          
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Start-Date</label>
                                <input type="email" class="form-control" [(ngModel)]="Contract.startdate" placeholder="Start-Date" required="required">
                            </div>
                            <div class="form-group">
                                <label>End-Date</label>
                                <input type="text" class="form-control" [(ngModel)]="Contract.enddate" placeholder="End-Date" required="required">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Contract Date</label>
                                <input type="email" class="form-control" [(ngModel)]="Contract.contractdate" placeholder="Contract Date" required="required">
                            </div>
                            <div class="form-group">
                                <label>Owner</label>
                                <input type="text" class="form-control" list="OwnerList" id="Ownerid" placeholder="Owner Name" required="required">
                                <datalist id="OwnerList">
                                    <option *ngFor="let item of ownerListItems" [data-owner]="item.ownerid">{{item.ownername}}</option>
                                </datalist>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Unit</label>
                                <input type="text" class="form-control" list="Propertylist" id="Propertyid" placeholder="Unit" required="required">
                                <datalist id="Propertylist">
                                    <option *ngFor="let item of propertyListItems" [data-property]="item.id">{{item.plotno}}</option>
                                </datalist>
                            </div>
                            <div class="form-group">
                                <label>No of installments</label>
                                <input type="text" class="form-control" [(ngModel)]="Contract.noofinstallments" placeholder="No.Of Installments" required="required">
                            </div>
                        </div>
                    </div>					
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <button type="button" class="btn btn-primary btn-round" (click)="SaveContract()">Save</button>
                        </div>
                    </div>
                </div>
		</div>
	</div>
</div>    