<section class="content home">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-3 col-lg-offset-9 col-md-offset-6 col-md-6 col-sm-12">                
                <button class="btn l-cyan btn-round btn-lg btn-block waves-effect waves-light" (click)="GetAllSuggesstion()" data-toggle="modal" data-target="#AddBooking" type="button">
                    <i class="zmdi zmdi-plus"></i> Add Booking 
                </button>   
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12">
                <div class="card weather2">
                    <table class="table table-striped  m-b-0">
                      <thead>
                        <tr>
                          <td hidden>Booking Id</td>
                          <td >Booking / Token No</td>
                          <td class="font-medium">Project</td>
                          <td>Property</td>
                          <td>Customer Name</td>
                          <td>Booking / Token Amount</td>
                          <td>Associate</td>
                          <td>Assign To</td>
                          <td>Status</td>
                          <td>View</td>
                        </tr>
                      </thead>
                        <tbody>
                          
                          <tr *ngFor="let item of getBookinglistItems()">
                            <td hidden>{{item.bookingid}}</td>
                            <td >{{item.bookingno}}</td>
                            <td class="font-medium">{{item.projectname}}</td>
                            <td>{{item.plotno}}</td>
                            <td>{{item.customername}}</td>
                            <td>{{item.bookingamount}}</td>
                            <td>{{item.consultantname}}</td>
                            <td>{{item.assignto}}</td>
                            <td>{{(item.status==1) ? 'Booked' : (item.status==0) ? 'Cancelled' : (item.status==2) ? 'Transfered' : ''}}</td>
                            <td>
                                <button class="btn btn-primary btn-icon btn-round " type="button" (click)="EditBooking(item.bookingid)" data-toggle="modal" data-target="#AddBooking">
                                    <i class="zmdi zmdi-edit" ></i>
                                </button>
                                <button class="btn btn-primary btn-icon btn-round " type="button" (click)="DeleteBooking(item.bookingid)">
                                    <i class="zmdi zmdi-delete" ></i>
                                </button>
                                <!--<button class="btn btn-primary btn-icon btn-round " type="button"  data-toggle="modal" data-target="#PreviewProject">
                                    <i class="zmdi zmdi-eye" ></i>
                                </button>-->
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="AddBooking" class="modal fade">
	<div class="modal-dialog modal-login">
		<div class="modal-content">
				<div class="modal-header text-center l-cyan" style="display: block !important;">				
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title text-center">{{ActionType}}</h4>
				</div>
				    <div class="modal-body">
              <div class="row  clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12" *ngIf="ActionType!='Add Booking'">
                  <label>Booking / Token No :{{addBooking.bookingno}}</label>
                    </div>
                      <input type="hidden" [(ngModel)]="addBooking.bookingid" name="ID" #ID="ngModel" />
                        <div class="col-lg-6 col-md-6 col-sm-12">
                          <div class="form-group">
                            <label>Customer Name</label>
                            <input type="text" class="form-control" list="customerlist" id="Customerid" placeholder="Customer Name" required="required">
                            <datalist id="customerlist">
                              <option *ngFor="let item of customerslist" [data-id]="item.id">{{item.name}}</option>
                            </datalist>
                          </div>
                            </div>
                              <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">  
                                  <label>Projects</label>
                                  <input type="text" class="form-control" list="Projectlist" id="Projectid" placeholder="Projects" required="required">
                                  <datalist id="Projectlist">
                                    <option *ngFor="let item of projectsListItems" [data-property]="item.id">{{item.projectname}}</option>
                                  </datalist>
                                </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Property</label>
                                    <input type="text" class="form-control" list="Propertylist" id="Propertyid" placeholder="Property" required="required">
                                    <datalist id="Propertylist">
                                      <option *ngFor="let item of propertyListItems" [data-property]="item.id">{{item.plotno}}</option>
                                    </datalist>
                                </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Associate Name</label>
                                    <input type="text" class="form-control" list="Associatelist" id="Associateid" placeholder="Associate Name" required="required">
                                  </div>
                                  <datalist id="Associatelist">
                                    <option *ngFor="let item of AssociateList" [data-associate]="item.id">{{item.name}}</option>
                                  </datalist>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                  <label>Booking / Token Amount</label>
                                  <input type="text" class="form-control" placeholder="Booking Amount" [(ngModel)]="addBooking.bookingamount" name="AMOUNT" #AMOUNT="ngModel" required="required">
                                </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                  <label>Total Amount</label>
                                  <input type="text" class="form-control" placeholder="Total Amount" [(ngModel)]="addBooking.totalamount" name="TOTALAMOUNT" #TOTALAMOUNT="ngModel" required="required">
                                </div>
                              </div>
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                  <label>Assign To</label>
                                  <input type="text" class="form-control" placeholder="Amount" [(ngModel)]="addBooking.assignto" name="ASSIGNTO" #ASSIGNTO="ngModel" required="required">
                                </div>
                              </div>
                    </div>				
                  <div class="row clearfix">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                      <button type="button" class="btn btn-primary btn-round" (click)="SaveBooking()">Save</button>
                    </div>
                  </div>
		</div>
	</div>
</div>        