<section class="content home">
    <div class="container-fluid home-bg">
       
           <div class="header">
                <h2><strong>Add</strong> Unit</h2>
            </div>
            
                <div class="row clearfix">
                    
                    <div class="col-lg-12 col-sm-12 col-md-12" style="border:1px solid blue">
                        <h2>Basic Information</h2>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Plot No</label>
                                <input type="text" class="form-control" [(ngModel)]="property.plotno" #plotno="ngModel" placeholder="Phaseno" required="required">
                            </div>
                    </div>
                   <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Phase No</label>
                            <input type="text" class="form-control" [(ngModel)]="property.phaseno" #phaseno="ngModel" placeholder="Phaseno" required="required">
                        </div>
                    </div>
                   
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Block No</label>
                            <input type="text" class="form-control" [(ngModel)]="property.blockno" #blockno="ngModel" placeholder="Blockno" required="required">
                        </div>
                    </div>
                    
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Survey No</label>
                            <input type="text" class="form-control" [(ngModel)]="property.surveyno" #surveyno="ngModel" placeholder="surveyno" required="required">
                        </div>
                    </div>
                
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Landmark</label>
                            <input type="text" class="form-control" [(ngModel)]="property.landmark" #landmark="ngModel" placeholder="landmark" required="required">
                        </div>
                    </div>
                
                
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>PlotSite</label>
                            <input type="text" class="form-control" [(ngModel)]="property.plotsite" #plotsite="ngModel" placeholder="plotsite" required="required">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>SiteUnit</label>
                            <input type="text" class="form-control" [(ngModel)]="property.siteunits" #siteunits="ngModel" placeholder="siteunits" required="required">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Crossplot</label>
                            <input type="text" class="form-control" [(ngModel)]="property.crossplot" #crossplot="ngModel"  placeholder="crossplot" required="required">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>notessuperuser</label>
                            <input type="text" class="form-control" [(ngModel)]="property.notessuperuser" #notessuperuser="ngModel" placeholder="notessuperuser" required="required">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Notes Management</label>
                            <input type="text" class="form-control" [(ngModel)]="property.notesmanagemen" #notesmanagemen="ngModel"  placeholder="notesmanagement" required="required">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Notes Salesteam</label>
                            <input type="text" class="form-control" [(ngModel)]="property.notessalesteam" #notessalesteam="ngModel"  placeholder="notessalesteam" required="required">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Facing</label>
                            <input type="text" class="form-control" [(ngModel)]="property.facing" #facing="ngModel" placeholder="facing" required="required">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Plot Dimension</label>
                            <input type="text" class="form-control" [(ngModel)]="property.plotdimension" #plotdimension="ngModel" placeholder="plotdimension" required="required">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Owner Id</label>
                            <input type="text" class="form-control" [(ngModel)]="property.ownerid" #ownerid="ngModel" placeholder="ownerid" required="required">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Facing Site</label>
                            <input type="text" class="form-control" [(ngModel)]="property.facingsite" #facingsite="ngModel" placeholder="facingsite" required="required">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Road Site</label>
                            <input type="text" class="form-control" [(ngModel)]="property.roadsite" #roadsite="ngModel" placeholder="roadsite" required="required">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Corner Plot</label>
                            <input type="text" class="form-control" [(ngModel)]="property.cornerplot" #cornerplot="ngModel" placeholder="cornerplot" required="required">
                        </div>
                    </div>
                </div>
                </div>
                <div class="row clearfix">  
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Corner Plot Dimension</label>
                            <input type="text" class="form-control" [(ngModel)]="property.cornerplotdimensions" #cornerplotdimensions="ngModel" placeholder="cornerplotdimension" required="required">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Park Side Plot</label>
                            <input type="text" class="form-control" [(ngModel)]="property.parksideplot" #parksideplot="ngModel" placeholder="parksideplot" required="required">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Soldout</label>
                            <input type="text" class="form-control" [(ngModel)]="property.soldout" #soldout="ngModel" placeholder="soldout" required="required">
                        </div>
                    </div>
                    <!--<div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>salesdate</label>
                            <input type="text" class="form-control" [(ngModel)]="property.cornerplot" #cornerplot="ngModel" placeholder="salesdate" required="required">
                        </div>
                    </div>-->
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Onhold</label>
                            <input type="text" class="form-control" [(ngModel)]="property.onhold" #onhold="ngModel" placeholder="onhold" required="required">
                        </div>
                    </div>
                    <!--<div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>holddate</label>
                            <input type="text" class="form-control" placeholder="holddate" required="required">
                        </div>
                    </div>-->
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Hold Duration Indays</label>
                            <input type="text" class="form-control" [(ngModel)]="property.soldout" #soldout="ngModel" placeholder="holddurationindays" required="required">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Holderidagentid</label>
                            <input type="text" class="form-control" [(ngModel)]="property.soldout" #soldout="ngModel" placeholder="holderidagentid" required="required">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>dispute</label>
                            <input type="text" class="form-control" [(ngModel)]="property.soldout" #soldout="ngModel" placeholder="dispute" required="required">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>disputenotes</label>
                            <input type="text" class="form-control" placeholder="disputenotes" required="required">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>nocissued</label>
                            <input type="text" class="form-control" placeholder="nocissued" required="required">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>noccopy</label>
                            <input type="text" class="form-control" placeholder="noccopy" required="required">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>plotsoldamount</label>
                            <input type="text" class="form-control" placeholder="plotsoldamount" required="required">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>amountpaid</label>
                            <input type="text" class="form-control" placeholder="amountpaid" required="required">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>amountbalance</label>
                            <input type="text" class="form-control" placeholder="amountbalance" required="required">
                        </div>
                    </div>
                
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>instalments</label>
                            <input type="text" class="form-control" placeholder="instalments" required="required">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>instalmentid</label>
                            <input type="text" class="form-control" placeholder="instalmentid" required="required">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>instalmentterm</label>
                            <input type="text" class="form-control" placeholder="instalmentterm" required="required">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>agreementdone</label>
                            <input type="text" class="form-control" placeholder="agreementdone" required="required">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>agreementscancopylink</label>
                            <input type="text" class="form-control" placeholder="agreementscancopylink" required="required">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>registrationid</label>
                            <input type="text" class="form-control" placeholder="registrationid" required="required">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>registrationdone</label>
                            <input type="text" class="form-control" placeholder="registrationdone" required="required">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>registrationscancopylink</label>
                            <input type="text" class="form-control" placeholder="registrationscancopylink" required="required">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>itrdone</label>
                            <input type="text" class="form-control" placeholder="itrdone" required="required">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>itrno</label>
                            <input type="text" class="form-control" placeholder="itrno" required="required">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>resell</label>
                            <input type="text" class="form-control" placeholder="resell" required="required">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>resellerid</label>
                            <input type="text" class="form-control" placeholder="resellerid" required="required">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>agreement</label>
                            <input type="text" class="form-control" placeholder="agreement" required="required">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>agreementid</label>
                            <input type="text" class="form-control" placeholder="agreementid" required="required">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>reagreement</label>
                            <input type="text" class="form-control" placeholder="reagreement" required="required">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>reagreementid</label>
                            <input type="text" class="form-control" placeholder="reagreementid" required="required">
                        </div>
                    </div>
                </div>
                <div class="row clearfix">

                    <div class="col-lg-3 col-md-3 col-sm-12 offset-3 text-center">
                        <button type="button" class="btn l-cyan btn-round btn-lg btn-block waves-effect waves-light">Add</button>
                    </div>
                   <div class="col-lg-3 col-md-3 col-sm-12  text-center">
                        <button type="button" class="btn l-cyan btn-round btn-lg btn-block waves-effect waves-light">Save</button>
                                            </div>
                </div>
        
       

    </div>
</section>