<section class="content home">
    <div class="container-fluid home-bg">
        <div class="header">
             <h2><strong>Edit</strong> Property  </h2>
         </div>
         <div class="container" style="border:1px solid blue">
             <div class="form-group">
                 <h4>Basic Information</h4>
             </div>
             <div class="row clearfix">
                <div class="col-sm-12 col-lg-6 col-md-6">
                   <div class="form-group row">
                        <label  class="col-sm-4 col-form-label">Plot No</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" [(ngModel)]="propertyItems.plotno" #plotno="ngModel" placeholder="Plot No">
                        </div>
                      </div>
                   <div class="form-group row">
                     <label  class="col-sm-4 col-form-label">Phase No</label>
                     <div class="col-sm-8">
                       <input type="text" class="form-control" [(ngModel)]="propertyItems.phaseno" #phaseno="ngModel" placeholder="Phase No">
                     </div>
                   </div>
                   <div class="form-group row">
                     <label  class="col-sm-4 col-form-label">Block No</label>
                     <div class="col-sm-8">
                       <input type="text" class="form-control" [(ngModel)]="propertyItems.blockno" #blockno="ngModel" placeholder="Block No">
                     </div>
                   </div>
                   <div class="form-group row">
                     <label  class="col-sm-4 col-form-label">Size Units</label>
                     <div class="col-sm-8">
                       <input type="text" class="form-control" [(ngModel)]="propertyItems.siteunits" #siteunits="ngModel" placeholder="Site Units">
                     </div>
                   </div>
                   <div class="form-group row">
                     <label  class="col-sm-4 col-form-label">Cross Plot</label>
                     <div class="col-sm-8" >
                      <select class="form-control" [(ngModel)]="propertyItems.crossplot" #crossplot>
                        <option value="">Select Option</option>
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                     </div>
                   </div>
                   <div class="form-group row">
                     <label  class="col-sm-4 col-form-label">Facing</label>
                     <div class="col-sm-8">
                       <input type="text" class="form-control" [(ngModel)]="propertyItems.facing" #facing="ngModel" placeholder="Facing">
                     </div>
                   </div>
                   <div class="form-group row">
                     <label  class="col-sm-4 col-form-label">Plot Dimension</label>
                     <div class="col-sm-8">
                       <input type="text" class="form-control" [(ngModel)]="propertyItems.plotdimension" #plotdimension="ngModel" placeholder="Plot Dimension">
                     </div>
                   </div>
                   <div class="form-group row">
                     <label  class="col-sm-4 col-form-label">Facing Size</label>
                     <div class="col-sm-8">
                       <input type="text" class="form-control" [(ngModel)]="propertyItems.facingsite" #facingsite="ngModel" placeholder="Facing Site">
                     </div>
                   </div>
                </div>
                <div class="col-sm-12 col-lg-6 col-md-6">
                 <div class="form-group row">
                     <label  class="col-sm-4 col-form-label">Survey No</label>
                     <div class="col-sm-8">
                       <input type="text" class="form-control" [(ngModel)]="propertyItems.surveyno" #surveyno="ngModel" placeholder="Survey No">
                     </div>
                   </div>
                   <div class="form-group row">
                     <label  class="col-sm-4 col-form-label">Landmark</label>
                     <div class="col-sm-8">
                       <input type="text" class="form-control" [(ngModel)]="propertyItems.landmark" #landmark="ngModel" placeholder="Landmark">
                     </div>
                   </div>
                   <div class="form-group row">
                     <label  class="col-sm-4 col-form-label">Plot Size</label>
                     <div class="col-sm-8">
                       <input type="text" class="form-control" [(ngModel)]="propertyItems.plotsite" #plotsite="ngModel" placeholder="Plot Site">
                     </div>
                   </div>
                   <div class="form-group row">
                     <label  class="col-sm-4 col-form-label">Road Size</label>
                     <div class="col-sm-8">
                       <input type="text" class="form-control" [(ngModel)]="propertyItems.roadsite" #roadsite="ngModel" placeholder="Road Site">
                     </div>
                   </div>
                   <div class="form-group row">
                     <label  class="col-sm-4 col-form-label">Corner Plot</label>
                     <div class="col-sm-8" >
                      <select class="form-control" [(ngModel)]="propertyItems.cornerplot" #cornerplot>
                        <option value="">Select Option</option>
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                     </div>
                   </div>
             </div>
              
              </div>
         </div>
             <br>
             <div class="container" style="border:1px solid blue">
                 <div class="form-group">
                     <h4>Plot Information</h4>
                 </div>
                 <div class="row clearfix">
                    <div class="col-sm-12 col-lg-6 col-md-6">
                     <div class="form-group row">
                         <label  class="col-sm-4 col-form-label">CornerPlot Dimension</label>
                         <div class="col-sm-8">
                           <input type="text" class="form-control" [(ngModel)]="propertyItems.cornerplotdimensions" #cornerplotdimensions="ngModel" placeholder="CornerPlot Dimension">
                         </div>
                       </div>
                       <div class="form-group row">
                         <label  class="col-sm-4 col-form-label">ParkSide plot</label>
                         <div class="col-sm-8" >
                          <select class="form-control" [(ngModel)]="propertyItems.parksideplot" #parksideplot>
                            <option value="">Select Option</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                         </div>
                       </div>
                    </div>
                    <div class="col-sm-12 col-lg-6 col-md-6">
                       <div class="form-group row">
                         <label  class="col-sm-4 col-form-label">Dispute Notes</label>
                         <div class="col-sm-8">
                           <input type="text" class="form-control" [(ngModel)]="propertyItems.disputenotes" #disputenotes="ngModel" placeholder="Dispute Notes">
                         </div>
                       </div>
                       <div class="form-group row">
                         <label  class="col-sm-4 col-form-label">Noc Copy</label>
                         <div class="col-sm-8">
                           <input type="text" class="form-control" [(ngModel)]="propertyItems.noccopy" #noccopy="ngModel" placeholder="Noc Copy">
                         </div>
                       </div>
                       <div class="form-group row">
                         <label  class="col-sm-4 col-form-label">Plot Sold Amount</label>
                         <div class="col-sm-8">
                           <input type="text" class="form-control" [(ngModel)]="propertyItems.plotsoldamount" #plotsoldamount="ngModel" placeholder="Plot Sold Amount">
                         </div>
                       </div>
                       <div class="form-group row">
                         <label  class="col-sm-4 col-form-label">Amount Paid</label>
                         <div class="col-sm-8">
                           <input type="text" class="form-control" [(ngModel)]="propertyItems.amountpaid" #amountpaid="ngModel" placeholder="mount Paid">
                         </div>
                       </div>
                       <div class="form-group row">
                         <label  class="col-sm-4 col-form-label">Amount Balance</label>
                         <div class="col-sm-8">
                           <input type="text" class="form-control" [(ngModel)]="propertyItems.amountbalance" #amountbalance="ngModel" placeholder="Amount Balance">
                         </div>
                       </div>
                 </div>
                  
                  </div>
             </div>
             
             <br>
             <div class="container" style="border:1px solid blue">
                 <div class="form-group">
                     <h4>Advance Information</h4>
                 </div>
                 <div class="row clearfix">
                    <div class="col-sm-12 col-lg-6 col-md-6">
                       <div class="form-group row">
                         <label  class="col-sm-4 col-form-label">Agreement ScancopyLink</label>
                         <div class="col-sm-8">
                           <input type="text" class="form-control" [(ngModel)]="propertyItems.agreementscancopylink" #agreementscancopylink="ngModel" placeholder="Agreement ScancopyLink">
                         </div>
                       </div>
                       <div class="form-group row">
                         <label  class="col-sm-4 col-form-label">Registration Scancopylink</label>
                         <div class="col-sm-8">
                           <input type="text" class="form-control" [(ngModel)]="propertyItems.registrationscancopylink" #registrationscancopylink="ngModel" placeholder="Registration Scancopylink">
                         </div>
                       </div>
                       <!--<div class="form-group row">
                         <label  class="col-sm-4 col-form-label">Itr Done</label>
                         <div class="col-sm-8" >
                          <select class="form-control" [(ngModel)]="propertyItems.itrdone" #itrdone>
                            <option value="">Select Option</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                         </div>
                       </div>-->
                    </div>
                    <!--<div class="col-sm-12 col-lg-6 col-md-6">
                     <div class="form-group row">
                         <label  class="col-sm-4 col-form-label">Itr No</label>
                         <div class="col-sm-8">
                           <input type="text" class="form-control" [(ngModel)]="propertyItems.itrno" #itrno="ngModel" placeholder="Itr No">
                         </div>
                       </div>
                 </div>-->
                  
                  </div>
             </div>
             <br>
             <div class="row clearfix">

                 <div class="col-lg-4 col-md-4 col-sm-12 offset-4 text-center">
                      <button type="button" class="btn l-cyan btn-round btn-lg  waves-effect waves-light" (click)="updateUnit()">Update</button>
                </div>
            </div>
    </div>
</section>