<section class="content home">
    <div class="container-fluid home-bg">
        <div class="header">
             <h2><strong>Add</strong> Property  </h2>
         </div>
         <div class="col-lg-6 col-md-6 col-sm-12" style="width: 20%">
          <div class="form-group">  
            <label>Select Project</label>
            <input type="text" class="form-control" list="Projectlist" id="Projectid" placeholder="Select Project" required="required">
            <datalist id="Projectlist">
              <option *ngFor="let item of projectsListItems" [data-property]="item.id">{{item.projectname}}</option>
            </datalist>
          </div>
        </div>
         <div class="container" style="border:1px solid blue">
             <div class="form-group">
                 <h4>Basic Information</h4>
             </div>
             <div class="row clearfix">
                <div class="col-sm-12 col-lg-6 col-md-6">
                   <div class="form-group row">
                        <label  class="col-sm-4 col-form-label">Plot No</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" [(ngModel)]="model.plotno" #plotno="ngModel" placeholder="Plot No">
                        </div>
                      </div>
                   <div class="form-group row">
                     <label  class="col-sm-4 col-form-label">Phase No</label>
                     <div class="col-sm-8">
                       <input type="text" class="form-control" [(ngModel)]="model.phaseno" #phaseno="ngModel" placeholder="Phase No">
                     </div>
                   </div>
                   <div class="form-group row">
                     <label  class="col-sm-4 col-form-label">Block No</label>
                     <div class="col-sm-8">
                       <input type="text" class="form-control" [(ngModel)]="model.blockno" #blockno="ngModel" placeholder="Block No">
                     </div>
                   </div>
                   <div class="form-group row">
                     <label  class="col-sm-4 col-form-label">Size Units</label>
                     <div class="col-sm-8">
                       <input type="text" class="form-control" [(ngModel)]="model.siteunits" #siteunits="ngModel" placeholder="Site Units">/Sq. Yards
                     </div>
                   </div>
                   <div class="form-group row">
                     <label  class="col-sm-4 col-form-label">Cross Plot</label>
                     <div class="col-sm-8" >
                      <select class="form-control" [(ngModel)]="model.crossplot" #crossplot>
                        <option value="">Select Option</option>
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                     </div>
                   </div>
                   <div class="form-group row">
                     <label  class="col-sm-4 col-form-label">Facing</label>
                     <div class="col-sm-8">
                       <input type="text" class="form-control" [(ngModel)]="model.facing" #facing="ngModel" placeholder="Facing">
                       <select class="form-control" [(ngModel)]="model.facing" #facing>
                        <option value="">Select Option</option>
                        <option value="0">North</option>
                        <option value="1">South</option>
                        <option value="2">East</option>
                        <option value="3">West</option>
                    </select>
                     </div>
                   </div>
                   <div class="form-group row">
                     <label  class="col-sm-4 col-form-label">Plot Dimension</label>
                     <div class="col-sm-8">
                       <input type="text" class="form-control" [(ngModel)]="model.plotdimension" #plotdimension="ngModel" placeholder="Plot Dimension">
                     </div>
                   </div>
                   <div class="form-group row">
                     <label  class="col-sm-4 col-form-label">Facing Size(width)</label>
                     <div class="col-sm-8">
                       <input type="text" class="form-control" [(ngModel)]="model.facingsite" #facingsite="ngModel" placeholder="Facing Site">
                     </div>
                   </div>
                </div>
                <div class="col-sm-12 col-lg-6 col-md-6">
                 <div class="form-group row">
                     <label  class="col-sm-4 col-form-label">Survey No</label>
                     <div class="col-sm-8">
                       <input type="text" class="form-control" [(ngModel)]="model.surveyno" #surveyno="ngModel" placeholder="Survey No">
                     </div>
                   </div>
                   <div class="form-group row">
                     <label  class="col-sm-4 col-form-label">Landmark</label>
                     <div class="col-sm-8">
                       <input type="text" class="form-control" [(ngModel)]="model.landmark" #landmark="ngModel" placeholder="Landmark">
                     </div>
                   </div>
                   <div class="form-group row">
                     <label  class="col-sm-4 col-form-label">Plot Size</label>
                     <div class="col-sm-8">
                       <input type="text" class="form-control" [(ngModel)]="model.plotsite" #plotsite="ngModel" placeholder="Plot Site">
                     </div>
                   </div>              
                   <div class="form-group row">
                     <label  class="col-sm-4 col-form-label">Front Road Size</label>
                     <div class="col-sm-8">
                       <input type="text" class="form-control" [(ngModel)]="model.roadsite" #roadsite="ngModel" placeholder="Road Site">
                     </div>
                   </div>
                   <div class="form-group row">
                     <label  class="col-sm-4 col-form-label">Corner Plot</label>
                     <div class="col-sm-8" >
                      <select class="form-control" [(ngModel)]="model.cornerplot" #cornerplot>
                        <option value="">Select Option</option>
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                     </div>
                   </div>
             </div>
              
              </div>
         </div>
             <br>
             <div class="container" style="border:1px solid blue">
                 <div class="form-group">
                     <h4>Plot Information</h4>
                 </div>
                 <div class="row clearfix">
                    <div class="col-sm-12 col-lg-6 col-md-6">
                     <div class="form-group row">
                         <label  class="col-sm-4 col-form-label">CornerPlot Dimension</label>
                         <div class="col-sm-8">
                           <input type="text" class="form-control" [(ngModel)]="model.cornerplotdimensions" #cornerplotdimensions="ngModel" placeholder="CornerPlot Dimension">
                         </div>
                       </div>
                       <div class="form-group row">
                         <label  class="col-sm-4 col-form-label">ParkSide plot</label>
                         <div class="col-sm-8" >
                          <select class="form-control" [(ngModel)]="model.parksideplot" #parksideplot>
                            <option value="">Select Option</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                         </div>
                       </div>
                      <!--<div class="form-group row">
                         <label  class="col-sm-4 col-form-label">SoldOut</label>
                         <div class="col-sm-8" >
                          <select class="form-control" [(ngModel)]="model.soldout" #soldout>
                            <option value="">Select Option</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                         </div>
                       </div>
                       <div class="form-group row">
                         <label  class="col-sm-4 col-form-label">Sales Date</label>
                         <div class="col-sm-8">
                           <input type="text" class="form-control" [(ngModel)]="model.salesdate" #salesdate="ngModel" placeholder="Sales Date">
                         </div>
                       </div>-->
                       <!--<div class="form-group row">
                         <label  class="col-sm-4 col-form-label">Hold Date</label>
                         <div class="col-sm-8">
                           <input type="text" class="form-control" [(ngModel)]="model.holddate" #holddate="ngModel" placeholder="Hold Date">
                         </div>
                       </div>-->
                    
                     <!--<div class="form-group row">
                         <label  class="col-sm-4 col-form-label">Dispute</label>
                         <div class="col-sm-8" >
                          <select class="form-control" [(ngModel)]="model.dispute" #dispute>
                            <option value="">Select Option</option>
                            <option value="0">Government</option>
                            <option value="1">Owners</option>
                            <option value="2">Buyers</option>
                            <option value="3">Others</option>
                        </select>
                         </div>
                       </div>-->
                       <div class="form-group row">
                         <label  class="col-sm-4 col-form-label">Dispute Notes</label>
                         <div class="col-sm-8">
                           <input type="text" class="form-control" [(ngModel)]="model.disputenotes" #disputenotes="ngModel" placeholder="Dispute Notes">
                         </div>
                       </div>
                       <div class="form-group row">
                         <label  class="col-sm-4 col-form-label">Noc Copy</label>
                         <div class="col-sm-8">
                           <input type="text" class="form-control" [(ngModel)]="model.noccopy" #noccopy="ngModel" placeholder="Noc Copy">
                         </div>
                       </div>
                       <div class="form-group row">
                         <label  class="col-sm-4 col-form-label">Plot Sold Amount</label>
                         <div class="col-sm-8">
                           <input type="text" class="form-control" [(ngModel)]="model.plotsoldamount" #plotsoldamount="ngModel" placeholder="Plot Sold Amount">
                         </div>
                       </div>
                       <div class="form-group row">
                         <label  class="col-sm-4 col-form-label">Amount Received</label>
                         <div class="col-sm-8">
                           <input type="text" class="form-control" [(ngModel)]="model.amountpaid" #amountpaid="ngModel" placeholder="mount Paid">
                         </div>
                       </div>
                       <div class="form-group row">
                         <label  class="col-sm-4 col-form-label">Amount Balance</label>
                         <div class="col-sm-8">
                           <input type="text" class="form-control" [(ngModel)]="model.amountbalance" #amountbalance="ngModel" placeholder="Amount Balance">
                         </div>
                       </div>
                 </div>
                  
                  </div>
             </div>
             <br>  
             </div>
             <br>
             <div class="row clearfix">

                 <div class="col-lg-4 col-md-4 col-sm-12 offset-4 text-center">
                      <button type="button" class="btn l-cyan btn-round btn-lg  waves-effect waves-light" (click)="postUnit()">Save</button>
                </div>
            </div>
</section>