<section class="content home">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12">
                <div class="card weather2">
                    <table class="table table-striped  m-b-0">
                        <tbody>
                          <tr>
                            <td hidden>Transaction Id</td>
                            <td>Transaction No</td>
                            <td class="font-medium">Project</td>
                            <td>Property</td>
                            <td>Owner Name</td>
                            <td>Total Amount</td>
                            <!--<td>View</td>-->
                          </tr>
                          <tr>
                            <td hidden>{{item.bookingid}}</td>
                            <td >{{item.bookingno}}</td>
                            <td class="font-medium">{{item.projectname}}</td>
                            <td>{{item.plotno}}</td>
                            <td>{{item.customername}}</td>
                            <td>{{item.bookingamount}}</td>
                            <!--<td>
                                <button class="btn btn-primary btn-icon btn-round " type="button" (click)="EditBooking(item.bookingid)" data-toggle="modal" data-target="#AddBooking">
                                    <i class="zmdi zmdi-edit" ></i>
                                </button>
                                <button class="btn btn-primary btn-icon btn-round " type="button" (click)="DeleteBooking(item.bookingid)">
                                    <i class="zmdi zmdi-delete" ></i>
                                </button>
                                <button class="btn btn-primary btn-icon btn-round " type="button"  data-toggle="modal" data-target="#PreviewProject">
                                    <i class="zmdi zmdi-eye" ></i>
                                </button>
                            </td>-->
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
