<section class="content home">

    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-3 col-lg-offset-9 col-md-offset-6 col-md-6 col-sm-12">                
                <button class="btn l-cyan btn-round btn-lg btn-block waves-effect waves-light" (click)="openModal(AddRole)" type="button">
                    <i class="zmdi zmdi-plus"></i> Add Role
                </button>
                <input type="button" value="download" (click)="downloadfile()"/>             
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12">
                <div class="card weather2">
                    <table class="table table-striped  m-b-0">
                        <thead>
                            <tr>
                                <td>RoleID</td>
                                <td class="font-medium">Role Name</td>
                                <td>Description</td>
                                <td>Status</td>
                                <td>view</td>
                            </tr>
                        </thead>
                        <tbody>
                          
                        <tr *ngFor="let item of getRolesItems()">
                            <td>{{item.id}}</td>
                            <td class="font-medium">{{item.rolename}}</td>
                            <td>{{item.description}}</td>
                            <td>{{(item.status==1) ? 'Active' : (item.status==0) ? 'InActive' : ''}}</td>
                            <td>
                                <button class="btn btn-primary btn-icon btn-round " type="button">
                                    <i class="zmdi zmdi-edit" ></i>
                                </button>
                                <button class="btn btn-primary btn-icon btn-round " type="button">
                                    <i class="zmdi zmdi-delete" (click)="deleteRole(item.id,item.rolename)"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                                      
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #AddRole let-modal>
    <div class="modal-header text-center l-cyan" style="display: block !important;">				
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-center">New Role</h4>
    </div>
    <div class="modal-body">
        <div class="row  clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                    <label>Rolename</label>
                    <input type="text" class="form-control" placeholder="Role name" [(ngModel)]="model.rolename" #rolename="ngModel" required="required">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea type="text" class="form-control" placeholder="Description" [(ngModel)]="model.description" #description="ngModel" required="required"></textarea>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <label>status</label>
                <select class="form-control show-tick">
                    <option value="">-- status --</option>
                    <option value="10">active</option>
                    <option value="20">Inactive</option>
                </select>
            </div>
        </div>				
        <div class="row clearfix">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <button type="button" class="btn btn-primary btn-round" (click)="postRole()">Save</button>
            </div>
        </div>
    </div>
</ng-template>
	
				
		  
<!--Add Role Modal End-->

<!--Edit Role Modal Start-->
<!--<div id="EditRole" class="modal fade">
	<div class="modal-dialog modal-login">
		<div class="modal-content">
			<form class="form" class="form-group" name="form">
				<div class="modal-header text-center l-cyan" style="display: block !important;">				
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title text-center">New Department</h4>
				</div>
				<div class="modal-body">
                    <div class="row  clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label>Departmentname</label>
                                <input type="text" class="form-control" placeholder="Departmentname" [(ngModel)]="departmentsListItems.departmentname" #departmentname="ngModel" required="required">
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea type="text" class="form-control" placeholder="Description" required="required"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label>status</label>
                            <select class="form-control show-tick">
                                <option value="">-- status --</option>
                                <option value="10">active</option>
                                <option value="20">Inactive</option>
                            </select>
                        </div>
                    </div>				
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <button type="button" class="btn btn-primary btn-round" (click)="updateDept(departmentsListItems.id)">Save</button>
                        </div>
                    </div>
                </div>
			</form>
		</div>
	</div>
</div>-->
<!--Edit Role Modal End-->


