<section class="content home">

    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-3 col-lg-offset-9 col-md-offset-6 col-md-6 col-sm-12">               <!-- routerLink="/UnitAdd"-->  
                <button class="btn l-cyan btn-round btn-lg btn-block waves-effect waves-light" (click)="openModal(AddpropertyModel)" type="button">
                    <i class="zmdi zmdi-plus"></i> Add Property
                </button>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12">
                <div class="card weather2">
                    <table class="table table-striped  m-b-0">
                      <thead>
                        <tr>
                          <td hidden>Property ID</td>
                          <td class="font-medium">Plot No</td>
                          <td>Corner Plot</td>
                          <td>Plot Size</td>
                          <td>Facing</td>
                          <td>Size Unit</td>
                          <td>SoldOut</td>
                          <td>Status</td>
                          <td>Actions</td>
                      </tr>
                      </thead>
                        <tbody>
                          
                        <tr *ngFor="let item of getPropertytItems()">
                            <td hidden>{{item.id}}</td>
                            <td class="font-medium">{{item.plotno}}</td>
                            <td>{{(item.cornerplot==1) ? 'Yes' : (item.cornerplot==0) ? 'No' : '' }}</td>
                            <td>{{item.plotsite}}</td>
                            <td>{{(item.facing==0) ? 'North' : (item.facing==1) ? 'South' : (item.facing==2) ? 'East' : (item.facing==3) ? 'West' : '' }}</td>
                            <td>{{item.siteunits}}</td>
                            <td>{{(item.soldout==1) ? 'Yes' : (item.cornerplot==0) ? 'No' : 'Pending' }}</td>
                            <td>{{(item.status==1) ? 'Booked' : (item.status==0) ? 'Cancelled' : (item.status==2) ? 'Transfered' : 'Open'}}</td>
                            <td>
                                <button class="btn btn-primary btn-icon btn-round " type="button" (click)="getProperty(item.id)" (click)="openModal(EditpropertyModel)">
                                    <i class="zmdi zmdi-edit"></i>
                                </button>
                                <button class="btn btn-primary btn-icon btn-round " type="button" (click)="deleteProperty(item.id,item.plotno)">
                                    <i class="zmdi zmdi-delete" ></i>
                                </button>
                                <button class="btn btn-primary btn-icon btn-round " (click)="getProperty(item.id)" type="button" (click)="openModal(PrevpropertyModel)" >
                                    <i class="zmdi zmdi-eye" ></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                                      
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #AddpropertyModel let-modal>
  <div class="modal-content">
    <div class="modal-header text-center l-cyan" style="display: block !important;">				
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">&times;</button>
      <h4 class="modal-title text-center">{{ActionType}}</h4>
  </div>
  <div class="modal-body">
    <div class="row  clearfix">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">  
          <label>Select Project</label>
          <input type="text" class="form-control" list="Projectlist" id="Projectid" placeholder="Select Project" required="required">
          <datalist id="Projectlist">
            <option *ngFor="let item of projectsListItems" [data-property]="item.id">{{item.projectname}}</option>
          </datalist>
        </div>
        <div class="form-group">
            <label>Plot No</label>
            <input type="text" class="form-control" [(ngModel)]="model.plotno" #plotno="ngModel" placeholder="Plot No">
        </div>
        <div class="form-group">
            <label>Phase No</label>
            <input type="text" class="form-control" [(ngModel)]="model.phaseno" #phaseno="ngModel" placeholder="Phase No">
        </div> 
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label>Block No</label>
          <input type="text" class="form-control" [(ngModel)]="model.blockno" #blockno="ngModel" placeholder="Block No">
        </div>
        <div class="form-group">
          <label>Size Units</label>
            <input type="text" class="form-control" [(ngModel)]="model.siteunits" #siteunits="ngModel" placeholder="Site Units">
        </div>
        <div class="form-group">
          <label>Cross Plot</label>
          <select class="form-control" [(ngModel)]="model.crossplot" #crossplot>
            <option value="" selected>Select Option</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label>Facing</label>
          <select class="form-control" [(ngModel)]="model.facing" #facing>
            <option value="" selected>Select Option</option>
            <option value="0">North</option>
            <option value="1">South</option>
            <option value="2">East</option>
            <option value="3">West</option>
        </select>
        </div>
        <div class="form-group">
          <label>Plot Dimension</label>
            <input type="text" class="form-control" [(ngModel)]="model.plotdimension" #plotdimension="ngModel" placeholder="Plot Dimension">
        </div>
        <div class="form-group">
          <label>Facing Size(Width)</label>
            <input type="text" class="form-control" [(ngModel)]="model.facingsite" #facingsite="ngModel" placeholder="Facing Site">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label>Survey No</label>
            <input type="text" class="form-control" [(ngModel)]="model.surveyno" #surveyno="ngModel" placeholder="Survey No">
        </div>
        <div class="form-group">
          <label>Landmark</label>
            <input type="text" class="form-control" [(ngModel)]="model.landmark" #landmark="ngModel" placeholder="Landmark">
        </div>
        <div class="form-group">
          <label>Plot Size</label>
            <input type="text" class="form-control" [(ngModel)]="model.plotsite" #plotsite="ngModel" placeholder="Plot Site">
        </div> 
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label>Front Road Size</label>
            <input type="text" class="form-control" [(ngModel)]="model.roadsite" #roadsite="ngModel" placeholder="Road Site">
        </div>
        <div class="form-group">
          <label>Corner Plot</label>
          <select class="form-control" [(ngModel)]="model.cornerplot" #cornerplot>
            <option value="" selected>Select Option</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
        </div>
        <div class="form-group">
          <label>CornerPlot Dimension</label>
            <input type="text" class="form-control" [(ngModel)]="model.cornerplotdimensions" #cornerplotdimensions="ngModel" placeholder="CornerPlot Dimension">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label>ParkSide plot</label>
          <select class="form-control" [(ngModel)]="model.parksideplot" #parksideplot>
            <option value="" selected>Select Option</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
        </div>
        <div class="form-group">
          <label>Dispute Note</label>
          <input type="text" class="form-control" [(ngModel)]="model.dispute" #dispute="ngModel" placeholder="CornerPlot Dimension">
        </div>
        <div class="form-group">
          <label>Noc Copy</label>
          <input type="text" class="form-control" [(ngModel)]="model.noccopy" #noccopy="ngModel" placeholder="Noc Copy">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label>Plot Sold Amount</label>
            <input type="text" class="form-control" [(ngModel)]="model.plotsoldamount" #plotsoldamount="ngModel" placeholder="Plot Sold Amount">
        </div>
        <div class="form-group">
          <label>Amount Paid</label>
            <input type="text" class="form-control" [(ngModel)]="model.amountpaid" #amountpaid="ngModel" placeholder="mount Paid">
        </div>
        <div class="form-group">
          <label>Amount Balance</label>
            <input type="text" class="form-control" [(ngModel)]="model.amountbalance" #amountbalance="ngModel" placeholder="Amount Balance">
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-4 col-md-4 col-sm-12 offset-4 text-center">
        <button type="button" class="btn btn-primary btn-round" (click)="postUnit()">Save</button>
      </div>
    </div>
  </div>
  </div>
</ng-template>

<ng-template #PrevpropertyModel let-modal>
  <div class="modal-content">
    <div class="modal-header text-center l-cyan" style="display: block !important;">				
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">&times;</button>
      <h4 class="modal-title text-center">Preview Property</h4>
  </div>
  <div class="modal-body">
    <div class="row  clearfix">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
            <label>Plot No</label>
            <input type="text" class="form-control" [(ngModel)]="propertyItems.plotno" #plotno="ngModel" placeholder="Plot No" readonly>
        </div>
        <div class="form-group">
            <label>Phase No</label>
            <input type="text" class="form-control" [(ngModel)]="propertyItems.phaseno" #phaseno="ngModel" placeholder="Phase No" readonly>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label>Block No</label>
          <input type="text" class="form-control" [(ngModel)]="propertyItems.blockno" #blockno="ngModel" placeholder="Block No" readonly>
        </div>
        <div class="form-group">
          <label>Size Units</label>
            <input type="text" class="form-control" [(ngModel)]="propertyItems.siteunits" #siteunits="ngModel" placeholder="Site Units" readonly>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label>Cross Plot</label>
           <input type="text" class="form-control" [(ngModel)]="propertyItems.crossplot" #crossplot="ngModel" placeholder="Site Units" readonly>
        </div>
        <div class="form-group">
          <label>Facing</label>
            <input type="text" class="form-control" [(ngModel)]="propertyItems.facing" #facing="ngModel" placeholder="Facing" readonly>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label>Plot Dimension</label>
            <input type="text" class="form-control" [(ngModel)]="propertyItems.plotdimension" #plotdimension="ngModel" placeholder="Plot Dimension" readonly>
        </div>
        <div class="form-group">
          <label>Owner Id</label>
            <input type="text" class="form-control" [(ngModel)]="propertyItems.ownerid" #ownerid="ngModel" placeholder="Owner Id" readonly>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label>Facing Size(Width)</label>
            <input type="text" class="form-control" [(ngModel)]="propertyItems.facingsite" #facingsite="ngModel" placeholder="Facing Site" readonly>
        </div>
        <div class="form-group">
          <label>Survey No</label>
            <input type="text" class="form-control" [(ngModel)]="propertyItems.surveyno" #surveyno="ngModel" placeholder="Survey No" readonly>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label>Landmark</label>
            <input type="text" class="form-control" [(ngModel)]="propertyItems.landmark" #landmark="ngModel" placeholder="Landmark" readonly>
        </div>
        <div class="form-group">
          <label>Plot Size</label>
            <input type="text" class="form-control" [(ngModel)]="propertyItems.plotsite" #plotsite="ngModel" placeholder="Plot Site" readonly>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label>Front Road Size</label>
            <input type="text" class="form-control" [(ngModel)]="propertyItems.roadsite" #roadsite="ngModel" placeholder="Road Site" readonly>
        </div>
        <div class="form-group">
          <label>Corner Plot</label>
           <input type="text" class="form-control" [(ngModel)]="propertyItems.cornerplot" #cornerplot="ngModel" placeholder="Road Site" readonly>
        </div>
      </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
            <label>CornerPlot Dimension</label>
              <input type="text" class="form-control" [(ngModel)]="propertyItems.cornerplotdimensions" #cornerplotdimensions="ngModel" placeholder="CornerPlot Dimension" readonly>
          </div>
          <div class="form-group">
            <label>CornerPlot Dimension</label>
            <input type="text" class="form-control" [(ngModel)]="propertyItems.cornerplotdimensions" #cornerplotdimensions="ngModel" placeholder="CornerPlot Dimension" readonly>
          </div>
        </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label>ParkSide plot</label>
          <input type="text" class="form-control" [(ngModel)]="propertyItems.parksideplot" #parksideplot="ngModel" placeholder="CornerPlot Dimension" readonly>
        </div>
        <div class="form-group">
          <label>SoldOut</label>
          <input type="text" class="form-control" [(ngModel)]="propertyItems.soldout" #soldout="ngModel" placeholder="CornerPlot Dimension" readonly>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label>Dispute</label>
          <input type="text" class="form-control" [(ngModel)]="propertyItems.dispute" #dispute="ngModel" placeholder="CornerPlot Dimension" readonly>
        </div>
        <div class="form-group">
          <label>Dispute Note</label>
          <input type="text" class="form-control" [(ngModel)]="propertyItems.disputenotes" #dispute="ngModel" placeholder="CornerPlot Dimension" readonly>
        </div>
      </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
            <label>Noc Issued</label>
             <input type="text" class="form-control" [(ngModel)]="propertyItems.nocissued" #nocissued="ngModel" placeholder="CornerPlot Dimension" readonly>
          </div>
          <div class="form-group">
            <label>Noc Copy</label>
            <input type="text" class="form-control" [(ngModel)]="propertyItems.noccopy" #noccopy="ngModel" placeholder="Noc Copy" readonly>
          </div>
        </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label>Plot Sold Amount</label>
            <input type="text" class="form-control" [(ngModel)]="propertyItems.plotsoldamount" #plotsoldamount="ngModel" placeholder="Plot Sold Amount" readonly>
        </div>
        <div class="form-group">
          <label>Amount Paid</label>
            <input type="text" class="form-control" [(ngModel)]="propertyItems.amountpaid" #amountpaid="ngModel" placeholder="mount Paid" readonly>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label>Amount Balance</label>
            <input type="text" class="form-control" [(ngModel)]="propertyItems.amountbalance" #amountbalance="ngModel" placeholder="Amount Balance" readonly>
        </div>
      </div>    
  </div>
    </div>  
  </div>
</ng-template>

<ng-template #EditpropertyModel let-modal>
  <div class="modal-content">
    <div class="modal-header text-center l-cyan" style="display: block !important;">				
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">&times;</button>
      <h4 class="modal-title text-center">{{ActionType}}</h4>
  </div>
  <div class="modal-body">
    <div class="row  clearfix">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">  
          <label>Select Project</label>
          <input type="text" class="form-control" list="Projectlist" id="Projectid" placeholder="Select Project" required="required" readonly>
          <datalist id="Projectlist">
            <option *ngFor="let item of projectsListItems" [data-property]="item.id">{{item.projectname}}</option>
          </datalist>
        </div>
        <div class="form-group">
            <label>Plot No</label>
            <input type="text" class="form-control" [(ngModel)]="propertyItems.plotno" #plotno="ngModel" placeholder="Plot No">
        </div>
        <div class="form-group">
            <label>Phase No</label>
            <input type="text" class="form-control" [(ngModel)]="propertyItems.phaseno" #phaseno="ngModel" placeholder="Phase No">
        </div> 
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label>Block No</label>
          <input type="text" class="form-control" [(ngModel)]="propertyItems.blockno" #blockno="ngModel" placeholder="Block No">
        </div>
        <div class="form-group">
          <label>Size Units</label>
            <input type="text" class="form-control" [(ngModel)]="propertyItems.siteunits" #siteunits="ngModel" placeholder="Site Units">
        </div>
        <div class="form-group">
          <label>Cross Plot</label>
          <select class="form-control" [(ngModel)]="propertyItems.crossplot" #crossplot>
            <option value="" selected>Select Option</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label>Facing</label>
          <select class="form-control" [(ngModel)]="propertyItems.facing" #facing>
            <option value="" selected>Select Option</option>
            <option value="0">North</option>
            <option value="1">South</option>
            <option value="2">East</option>
            <option value="3">West</option>
        </select>
        </div>
        <div class="form-group">
          <label>Plot Dimension</label>
            <input type="text" class="form-control" [(ngModel)]="propertyItems.plotdimension" #plotdimension="ngModel" placeholder="Plot Dimension">
        </div>
        <div class="form-group">
          <label>Facing Size(Width)</label>
            <input type="text" class="form-control" [(ngModel)]="propertyItems.facingsite" #facingsite="ngModel" placeholder="Facing Site">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label>Survey No</label>
            <input type="text" class="form-control" [(ngModel)]="propertyItems.surveyno" #surveyno="ngModel" placeholder="Survey No">
        </div>
        <div class="form-group">
          <label>Landmark</label>
            <input type="text" class="form-control" [(ngModel)]="propertyItems.landmark" #landmark="ngModel" placeholder="Landmark">
        </div>
        <div class="form-group">
          <label>Plot Size</label>
            <input type="text" class="form-control" [(ngModel)]="propertyItems.plotsite" #plotsite="ngModel" placeholder="Plot Site">
        </div> 
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label>Front Road Size</label>
            <input type="text" class="form-control" [(ngModel)]="propertyItems.roadsite" #roadsite="ngModel" placeholder="Road Site">
        </div>
        <div class="form-group">
          <label>Corner Plot</label>
          <select class="form-control" [(ngModel)]="propertyItems.cornerplot" #cornerplot>
            <option value="" selected>Select Option</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
        </div>
        <div class="form-group">
          <label>CornerPlot Dimension</label>
            <input type="text" class="form-control" [(ngModel)]="propertyItems.cornerplotdimensions" #cornerplotdimensions="ngModel" placeholder="CornerPlot Dimension">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label>ParkSide plot</label>
          <select class="form-control" [(ngModel)]="propertyItems.parksideplot" #parksideplot>
            <option value="" selected>Select Option</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
        </div>
        <div class="form-group">
          <label>Dispute Note</label>
          <input type="text" class="form-control" [(ngModel)]="propertyItems.dispute" #dispute="ngModel" placeholder="CornerPlot Dimension">
        </div>
        <div class="form-group">
          <label>Noc Copy</label>
          <input type="text" class="form-control" [(ngModel)]="propertyItems.noccopy" #noccopy="ngModel" placeholder="Noc Copy">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label>Plot Sold Amount</label>
            <input type="text" class="form-control" [(ngModel)]="propertyItems.plotsoldamount" #plotsoldamount="ngModel" placeholder="Plot Sold Amount">
        </div>
        <div class="form-group">
          <label>Amount Paid</label>
            <input type="text" class="form-control" [(ngModel)]="propertyItems.amountpaid" #amountpaid="ngModel" placeholder="mount Paid">
        </div>
        <div class="form-group">
          <label>Amount Balance</label>
            <input type="text" class="form-control" [(ngModel)]="propertyItems.amountbalance" #amountbalance="ngModel" placeholder="Amount Balance">
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-4 col-md-4 col-sm-12 offset-4 text-center">
        <button type="button" class="btn btn-primary btn-round" (click)="updateUnit()">Update</button>
      </div>
    </div>
  </div>
  </div>
</ng-template>

