<!-- Page Loader -->
<!--<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img class="zmdi-hc-spin" src="assets/images/logo.svg" width="48" height="48" alt="Compass"></div>
        <p>Please wait...</p>
    </div>
</div>-->

<!-- Overlay For Sidebars -->
<!--<div class="overlay"></div>-->
<section class="content home">
        <div class="block-header">
            
        </div>
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-3 col-md-6">
                    <div class="card" style="background: linear-gradient(45deg, darkgreen,rgb(59, 100, 59));height: 80px;">
                        <div class="body" style="padding-top: 10px;padding-left: 40%;">
                            <p class="text-muted" style="color: whitesmoke;">Today's Bookings</p>
                            <h3 class="number count-to" style="color: whitesmoke;">{{dashboardListItems.bookings}}</h3> 
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card" style="background: linear-gradient(45deg, rgb(219, 91, 98),rgb(59, 100, 59));height: 80px;">
                        <div class="body" style="padding-top: 10px;padding-left: 35%;">
                            <p class="text-muted" style="color: whitesmoke;">This Month Bookings</p>
                            <h3 class="number count-to" style="color: whitesmoke;">758</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card" style="background: linear-gradient(45deg, darkgreen,rgb(100, 59, 73));height: 80px;">
                        <div class="body" style="padding-top: 10px;padding-left: 40%;">
                            <p class="text-muted" style="color: whitesmoke;">Sale's Enquires</p>
                            <h3 class="number count-to" style="color: whitesmoke;">2521</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card" style="background: linear-gradient(45deg, darkgreen,rgb(59, 100, 59));height: 80px;">
                        <div class="body" style="padding-top: 10px;padding-left: 40%;">
                            <p class="text-muted" style="color: whitesmoke;">This Month Sales</p>
                            <h3 style="color: whitesmoke">$ 24,500</h3>
                        </div>
                    </div>
                </div>            
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">  
                  <label>Select Project</label>
                  <input type="text" class="form-control" list="Projectlist" id="Projectid" placeholder="Projects" required="required">
                  <datalist id="Projectlist">
                    <option *ngFor="let item of projectsListItems" [data-property]="item.id">{{item.projectname}}</option>
                  </datalist>
                </div>
              </div>
            <div class="chart-container" style="position: relative; height:40vh; width:70vw">    
                <canvas id="canvas"></canvas>    
              </div>
            <!--<div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>Estate</strong> Annual Report</h2>
                            <ul class="header-dropdown">
                                <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                    <ul class="dropdown-menu dropdown-menu-right slideUp float-right">
                                        <li><a href="javascript:void(0);">Edit</a></li>
                                        <li><a href="javascript:void(0);">Delete</a></li>
                                        <li><a href="javascript:void(0);">Report</a></li>
                                    </ul>
                                </li>
                                <li class="remove">
                                    <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="row text-center">
                                <div class="col-sm-3 col-6">
                                    <h4 class="m-t-0">$ 106 <i class="zmdi zmdi-trending-up col-green"></i></h4>
                                    <p class="text-muted"> Today's</p>
                                </div>
                                <div class="col-sm-3 col-6">
                                    <h4 class="m-t-0">$ 907 <i class="zmdi zmdi-trending-down col-red"></i></h4>
                                    <p class="text-muted">This Week's</p>
                                </div>
                                <div class="col-sm-3 col-6">
                                    <h4 class="m-t-0">$ 4210 <i class="zmdi zmdi-trending-up col-green"></i></h4>
                                    <p class="text-muted">This Month's</p>
                                </div>
                                <div class="col-sm-3 col-6">
                                    <h4 class="m-t-0">$ 67,000 <i class="zmdi zmdi-trending-up col-green"></i></h4>
                                    <p class="text-muted">This Year's</p>
                                </div>
                            </div>
                            <div id="area_chart" class="graph"></div>
                        </div>
                    </div>
                </div>
            </div>-->
                 
        </div>
    </section>
   
