<section class="content home">

    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-3 col-lg-offset-9 col-md-offset-6 col-md-6 col-sm-12">                
                <button class="btn l-cyan btn-round btn-lg btn-block waves-effect waves-light"  (click)="openModal(addOwnerModel)" type="button">
                    <i class="zmdi zmdi-plus"></i> Add Owners
                </button>
                               
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12">
                <div class="card weather2">
                    <table class="table table-striped  m-b-0">
                        <thead>
                            <tr>
                                <td hidden >Owner Id</td>
                                <td class="font-medium">Owner Name</td>
                                <td>Owner Reference</td>
                                <td>Address Id</td>
                                <td>Owner Aadharno</td>
                                <td>OwnerId Proof</td>
                                <td>Note</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tbody>
                            
                        <tr *ngFor="let item of getOwnerslistItems()">
                            <td hidden >{{item.ownerid}}</td>
                            <td class="font-medium">{{item.ownername}}</td>
                            <td>{{item.ownerreference}}</td>
                            <td>{{item.addressid}}</td>
                            <td>{{item.owneraadharno}}</td>
                            <td>{{item.owneridproof}}</td>
                            <td>{{item.notes}}</td>
                            <!--<td>{{(item.status==1) ? 'Active' : (item.status==0) ? 'InActive' : ''}}</td>-->
                            <td>
                                <button class="btn btn-primary btn-icon btn-round " type="button" (click)="openModal(editOwnerModel)"  (click)="getOwner(item.ownerid)">
                                    <i class="zmdi zmdi-edit"></i>
                                </button>
                                <button class="btn btn-primary btn-icon btn-round " type="button" (click)="deleteOwner(item.ownerid,item.ownername)">
                                    <i class="zmdi zmdi-delete"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                                      
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #addOwnerModel let-modal>
		<div class="modal-content">
				<div class="modal-header text-center l-cyan" style="display: block !important;">				
                    <button type="button" class="close" (click)="modal.dismiss('Cross click')">&times;</button>
                    <h4 class="modal-title text-center">New Owner</h4>
				</div>
				<div class="modal-body">
                    <div class="row  clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Owner Name</label>
                                <input type="text" class="form-control" [(ngModel)]="model.ownername" name="ownername" #ownername="ngModel" placeholder="Owner Name" required="required">
                            </div>
                            <div class="form-group">
                                <label>Owner Reference</label>
                                <input type="text" class="form-control" [(ngModel)]="model.ownerreference" name="ownerreference" #ownerreference="ngModel" placeholder="Owner Reference" required="required">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <!--<div class="form-group">
                                <label>Address Id</label>
                                <input type="email" class="form-control" [(ngModel)]="model.addressid" name="addressid" #addressid="ngModel" placeholder="Adress Id" required="required">
                            </div>-->
                            <div class="form-group">
                                <label>Owner Adharno</label>
                                <input type="text" class="form-control" [(ngModel)]="model.owneraadharno" name="owneraadharno" #owneraadharno="ngModel" placeholder="Owner Adhar" required="required">
                            </div>
                            <div class="form-group">
                                <label>Owner Id Proof</label>
                                <input type="email" class="form-control" [(ngModel)]="model.owneridproof" name="owneridproof" #owneridproof="ngModel" placeholder="Owner Id Proof" required="required">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Note</label>
                                <input type="text" class="form-control" [(ngModel)]="model.notes" name="notes" #notes="ngModel" placeholder="Note" required="required">
                            </div>
                        </div>
                    </div>					
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <button type="button" class="btn btn-primary btn-round" (click)="postowner()">Save</button>
                        </div>
                    </div>
                </div>
		</div>
</ng-template>

<ng-template #editOwnerModel let-modal>
		<div class="modal-content">
				<div class="modal-header text-center l-cyan" style="display: block !important;">				
                    <button type="button" class="close" (click)="modal.dismiss('Cross click')">&times;</button>
                    <h4 class="modal-title text-center">Edit Owner</h4>
				</div>
				<div class="modal-body">
                    <div class="row  clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Owner Name</label>
                                <input type="text" class="form-control" [(ngModel)]="ownerItems.ownername" name="ownername" #ownername="ngModel" placeholder="Owner Name" required="required">
                            </div>
                            <div class="form-group">
                                <label>Owner Reference</label>
                                <input type="text" class="form-control" [(ngModel)]="ownerItems.ownerreference" name="ownerreference" #ownerreference="ngModel" placeholder="Owner Reference" required="required">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <!--<div class="form-group">
                                <label>Address Id</label>
                                <input type="email" class="form-control" [(ngModel)]="ownerItems.addressid" name="addressid" #addressid="ngModel" placeholder="Adress Id" required="required">
                            </div>-->
                            <div class="form-group">
                                <label>Owner Adharno</label>
                                <input type="text" class="form-control" [(ngModel)]="ownerItems.owneraadharno" name="owneraadharno" #owneraadharno="ngModel" placeholder="Owner Adhar" required="required">
                            </div>
                            <div class="form-group">
                                <label>Owner Id Proof</label>
                                <input type="email" class="form-control" [(ngModel)]="ownerItems.owneridproof" name="owneridproof" #owneridproof="ngModel" placeholder="Owner Id Proof" required="required">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Note</label>
                                <input type="text" class="form-control" [(ngModel)]="ownerItems.notes" name="notes" #notes="ngModel" placeholder="Note" required="required">
                            </div>
                        </div>
                    </div>					
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <button type="button" class="btn btn-primary btn-round" (click)="updateOwner()">Save</button>
                        </div>
                    </div>
                </div>
		</div>
</ng-template>
